<h1><%= @task.name %></h1>
<h3>Created by: <%= @task.owner %></h3>
<h3>Date: <%= @task.date %></h3>
<h4><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?"}%></h4>
<h4><%=  link_to "Back to overview", tasks_path %></h4>
